body {
  width: 95%;
  margin: 30px auto;
}

#login-grid {
  width: 95%;
  margin: 0px auto;
}

@media only screen and (min-width: 700px) {
  body {
    width: 60%;
    margin: 30px auto;
  }

  #login-grid {
    width: 60%;
    margin: 0px auto;
  }
}

textarea {
  margin-bottom: 15px !important;
}

#feed {
  width: 100% !important;

  .content {
    width: 50%;
  }

  .text.extra {
    text-overflow: ellipsis;
    max-width: unset !important;
    white-space: nowrap;
    overflow: hidden;
  }
}

#header {
  margin-bottom: 50px;
}

#login {
  margin: 0px auto;
  display: block;
}



.menu {
  margin-bottom: 20px !important;
}

.ui.feed > {
  .event {
    cursor: pointer;
    padding: 5px !important;

    img {
      opacity: 0.8;
      margin-top: 12px;
      display: inline;
    }

    .loader {
      margin-top: 12px;
      display: inline;
      left: -20px;
      top: -21px;
    }

    .date {
      display: inline !important;
    }
  }
}

